<button mat-raised-button color="warn" routerLink="/addProdiut">Nouvelle Produit</button>


<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="listData" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nom_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  nom produit</th>
            <td mat-cell *matCellDef="let element"> {{element.nom_produit}} </td>
        </ng-container>


        <ng-container matColumnDef="nom_court_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> nom court </th>
            <td mat-cell *matCellDef="let element"> {{element.nom_court_produit}} </td>
        </ng-container>

        <ng-container matColumnDef="prix_base_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> prix base </th>
            <td mat-cell *matCellDef="let element"> {{element.prix_base_produit}} </td>
        </ng-container>

        <ng-container matColumnDef="prix_vente_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> prix vente </th>
            <td mat-cell *matCellDef="let element"> {{element.prix_vente_produit}} </td>
        </ng-container>

        <ng-container matColumnDef="seuil_max_remise_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> seuil max </th>
            <td mat-cell *matCellDef="let element"> {{element.seuil_max_remise_produit}} </td>
        </ng-container>

        <ng-container matColumnDef="unite_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> unite produit </th>
            <td mat-cell *matCellDef="let element"> {{element.unite_produit}} </td>
        </ng-container>

        <ng-container matColumnDef="quantite_initiale_stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> quantite initiale </th>
            <td mat-cell *matCellDef="let element"> {{element.quantite_initiale_stock}} </td>
        </ng-container>

        <ng-container matColumnDef="quantite_actuel_stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> quantite actuel </th>
            <td mat-cell *matCellDef="let element"> {{element.quantite_actuel_stock}} </td>
        </ng-container>

        <!--ng-container matColumnDef="Etat_general">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat_general </th>
            <td mat-cell *matCellDef="let element">
                <i class="material-icons orange600" *ngIf="(!element.Etat_general)">warning</i>
                <i class="material-icons green" *ngIf="(element.Etat_general)">assignment_turned_in</i>
            </td>
        </ng-container-->

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(row.id)" color="warn">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>